@font-face {
    src: url("fonts/NickelGothicVariable[slnt\,wdth]-Edu.woff2") format("woff2"),
         url('fonts/NickelGothicVariable[slnt\,wdth]-Edu.woff') format("woff");
    font-family: 'Nickel Gothic Variable';
    font-style: normal;
    font-weight: normal;
    }
    
    body{
    background-color: #C84F34;
    font-family: 'Nickel Gothic Variable', sans-serif;
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    /* where to change the width of the columns on desktop view */
    width: min(100% - 3rem, 95ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    ". . . . ."
    ". . . . ."
    "h h h v v"
    ". . . . ."
    ". . a . ."
    ". . . . .";
}

#history {
grid-area: h;
background-color: #F8DCBC;
padding: 10px;
}



#variations{
grid-area: v;
background-color: #F8DCBC;
}

#alphabet {
grid-area: a;
}
}
.bubble-header{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-top:10px;
    margin-left:10px;
    padding: 0.5em 1em;
    background-color: #9A2D18;
    color: #F8DCBC;
    border-radius: 1em;
    margin-bottom: 1em;
}
.hero{
    background-image: url("assets/font-hero.svg");
    /* height: 500px; */
    min-height: 500px;
    width:1200px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
/* CSS for the footer */
footer{
    background-color: #F8DCBC;
    height:200px;
}

/* font styling area */
h2{
    color: #F8DCBC;
    font-variation-settings: "opsz" 16, "wght" 900, "slnt" -8;
}

h3{
    font-weight:20; 
    text-align: center;
    font-size: 3em;
    animation: weightChange 7s infinite;
    color: #9A2D18;
    padding-top: 150px;
  
}
p{
    color: #9A2D18;
    font-size: 1.2em;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}

footer{
    color: #9A2D18;
    font-size: 1.2em;
    text-align: center;
    padding-top: 80px;
}

/* full range of animation */
@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "wdth" 25, "slnt" -15;
    }
    50%{font-variation-settings: "wdth" 150, "slnt" 15;
    }
}
/* animations for the variations section */
.width{
    animation: widthVariations 5s infinite;
}
@keyframes widthVariations {
    0%, 100%{
        font-variation-settings: "opsz" 16, "wdth" 25, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 16, "wdth" 150, "slnt" 0;
    }
}
/* where the animation is for the width change */
.slant{
    animation: slantVariations 5s infinite;
}
@keyframes slantVariations {
    0%, 100%{
        font-variation-settings: "opsz" 16, "wdth" 150, "slnt" -15;
    }
    50%{font-variation-settings: "opsz" 16, "wdth" 150, "slnt" 15;
    }
}

h5{
    font-size:40px;
    color:#9A2D18;
    margin:15px;
}

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

